body {
  color: #573001;
  background-color: #fffcf8;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  clear: both;
}
h3 {
  border-bottom: 3px solid #ec6d4e;
  display: inline-block;
  margin-bottom: 10px;
}
.main-title {
  text-align: center;
  background: url(/img/オレンジの家.png) no-repeat top center;
  padding-top: 60px;
  margin: 20px 0px;
}
section {
  margin: 50px 0px;
}
html {
  scroll-padding-top: 230px;
}

/* ーーーーーーー ヘッダー ーーーーーーーーー */
.header {
  position: fixed;
  width: 100%;
  background-color: #fffcf8;
  z-index: 100;
}
.header-menu {
  text-align: center;
  display: block;
  background: url(/img/子供のお家_ヘッダー.png) no-repeat top center;
  background-size: 180px;
  padding-top: 85px;
  margin-top: 10px;
}
.header-nav-item {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid #573001;
  padding: 0 20px;
}

.header-menu ul li.header-nav-item:nth-child(2) {
  margin-right: 12em;
}
.header-menu ul li.header-nav-item:nth-child(2),
.header-menu ul li.header-nav-item:nth-child(4) {
  border: none;
}
.header-nav-item a:hover {
  color: #ec6d4e;
  opacity: 10;
}
/* ーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーー メイン　挨拶 ーーーーーーーーー */
.greeting-text {
  margin: 20px 100px;
  padding: 5px;
}
.greeting-letter {
  margin: 3em 10em;
  border: dashed 2px #fffcf8;
  border-radius: 8px;
  box-shadow: 0 0 0 10px #ec6d4e;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  color: #fffcf8;
  background: #ec6d4e;
}
.greeting-letter p {
  margin: 0;
  padding: 0;
}
.greeting-title {
  background: #ec6d4e;
  border-radius: 8px 8px 0 0;
  margin: -20px -20px 5px -20px;
  font-size: 1.3em;
  padding: 10px 0 10px 0;
  color: #fffcf8;
  font-weight: bold;
  text-align: center;
}
.greeting-text2 {
  background-color: #ec6d4e;
  background-image: linear-gradient(
      90deg,
      rgba(237, 119, 128, 0) 0%,
      rgba(237, 119, 128, 0) 50%,
      #ec6d4e 0%,
      #ec6d4e 100%
    ),
    linear-gradient(
      180deg,
      rgba(237, 119, 128, 0) 0%,
      rgba(237, 119, 128, 0) 95%,
      #fffcf8 100%
    );
  background-size: 8px 100%, 100% 2em;
  line-height: 2;
  padding: 4px 10px 22px 10px;
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー メイン　概要ーーーーーーーーー */
.about {
  background-color: #fdf7f2;
  padding: 30px 0px;
}
.flex-box-img {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.flex-box-img img {
  border-radius: 30px;
}
.flex-box-text {
  padding-left: 20px;
}
.right-side {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}
.icon {
  width: 150px;
  text-align: center;
}
.icon img {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  border-radius: 50%;
}
.bubble {
  max-width: 70%;
  border-radius: 10px;
  display: inline-block;
  background: #fdf7f2;
}
.bubble p {
  margin: 5px 0px;
}
.right-side .icon {
  float: left;
  margin-right: 10px;
}
.icon p {
  margin: 5px 0px;
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー メイン　料金 ーーーーーーーーー */
.price-text {
  text-align: center;
  font-size: 1.3em;
}
.flex-box {
  display: flex;
  margin: 30px 0px;
}
.flex-box-item {
  padding: 10px;
  margin: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
}

table th,
table td {
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th {
  background-color: #ec6d4e;
  color: white;
  border: solid 1px #ff6039;
}

table td {
  background-color: #fff2ef;
  border: solid 1px #f6e8e4;
}
.hightlight {
  text-align: center;
}
.year-price,
.comment {
  display: inline-block;
  font-size: 1.4em;
  background: linear-gradient(
    transparent 50%,
    rgba(27, 172, 2, 0.2) 50%,
    rgb(27, 172, 2) 75%,
    rgba(27, 172, 2, 0.2)
  );
  font-weight: bold;
  padding-bottom: 10px;
}
.price-type {
  margin: 40px 0px;
}
.box-item {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #ecf4ed;
  border: dashed 2px #055a20; /*点線*/
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー メイン　アクセス ーーーーーーーーー */

.access {
  background-color: #fdf7f2;
  padding: 30px 0px;
}
.access-text {
  font-weight: bold;
  font-size: 1.2em;
}
.map-info {
  display: flex;
}
.map-text {
  padding: 30px;
}
.img-top {
  box-shadow: 0 0 5px #333;
  width: 60%;
  margin-right: 40%;
  display: block;
}
.img-bottom {
  box-shadow: 0 0 5px #333;
  width: 50%;
  margin-top: 20px;
  margin-left: 50%;
  display: block;
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー メイン　お問合せ ーーーーーーーーー */

.contact {
  font-size: 1.1em;
}
.contact-text {
  position: relative;
  background: #ffdab5;
  box-shadow: 0px 0px 0px 5px #ffdab5;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  margin: 30px 0px 60px 0px;
  font-weight: bold;
}
.contact-text:after {
  position: absolute;
  content: "";
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ff7b00 #fff #ff7b00;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.contact-text p {
  margin: 0;
  padding: 0;
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー フッター ーーーーーーーーー */
.fotter-info {
  display: flex;
  background-color: #ffb3a0;
  font-size: 20px;
  text-align: center;
  padding: 0px 100px;
}

.footer-copylight {
  background-color: #ec6d4e;
  font-size: 20px;
  color: #fffcf8;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.header_left {
  font-size: 30px;
  margin: 0px;
}
.fotter-text {
  font-size: 15px;
}
.header_right {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 20px;
}

.header_right li {
  margin-left: 40px;
}

.main_box_left {
  font-size: 22px;
  padding-right: 29px;
}

.header_number {
  font-size: 22px;
  padding-left: 10px;
}

.header_time {
  font-size: 10px;
  font-weight: 100;
}

.main_box_right {
  border: 4px solid #573001;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 15px;
  display: flex;
}

.header_mail_icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
  font-size: 2.5em;
}

.header_mail {
  text-align: center;
}
/* ーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーー jQuery ーーーーーーーーー */
.top {
  margin-top: -16px;
}
.top img {
  margin-top: 128px;
}
.slider5-wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.slider-5 .slick-slide {
  overflow: hidden;
  height: 500px;
}
.slider-5 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* .dots-5 .slick-dots {
  text-align: center;
}
.dots-5 .slick-dots li {
  display: inline-block;
  width: 100px;
  height: 6px;
  margin: 4px;
  background: #eaeaea;
  cursor: pointer;
}
.dots-5 .slick-dots button {
  display: block;
  width: 0%;
  height: 6px;
  margin: 0;
  font-size: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  outline: none;
  background: #0a467d;
  cursor: pointer;
}
.dots-5 .slick-dots .slick-active button {
  background: #0a467d;
  opacity: 1;
} */
