body {
  color: #323232;
  background-color: #f8f6f2;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.inner {
  max-width: 1206px;
  margin: 0 auto;
}

/* ーーーーーーー フッター ーーーーーーーーー */
footer {
  background-color: ;
  font-size: 20px;
  color: ;
  height: 100px;
  text-align: center;
  padding-top: 35px;
}

@media (max-width: 745px) {
  footer {
    font-size: 10px;
    height: 70px;
    padding-top: 25px;
  }
}
/* ーーーーーーーーーーーーーーーーーーーー */
